/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

body {
  background: #161B15;
  margin: 0;
  padding: 0;
  font-family:Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
}

.App-header {
  display: flex;
  align-items: center;  /* Align logo and heading vertically */
  padding: 1rem;  /* Add some padding */
  background-color: #1F291C;  /* Set a background color */
  color: #B5BCB1;  /* Set text color to white */
}

.App-header img{
  height: 200px;
  position: absolute;
  display:flex;
  flex-direction: row;
  left: 20px;
  top: 20px;
}

/* styling the NavBar */
.navbar {
  background-color: #1F291C ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 65rem;
}

.navbar a {
  text-decoration: none; /* Remove underline from links */
  color: #000000; /* Set link color */
  font-weight: bold;
  margin-right: 1.5rem ;
  background-color: #B8BFB4;
  border-radius: 0.375rem;
  padding-block: 5px;
  padding-inline: 5px;
  

}

.navbar-links {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.podList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  background-color: #B5BCB1;
  border-radius: 10px;
  margin: 20px;
  

}






